<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- Speed Bubble page. Labels and footers are keys into <lang>.lproj/SpeedBubble.strings;
     "symbol"/"symbolColor" draw the row icon. Keys are the SB_KEY_* of ../../SpeedBubble.h. -->
<plist version="1.0">
<dict>
	<key>title</key>
	<string>Speed Bubble</string>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>SPEEDBUBBLE_FOOTER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>SPEEDBUBBLE_ENABLE</string>
			<key>symbol</key>
			<string>power</string>
			<key>symbolColor</key>
			<string>#0A59F7</string>
			<key>key</key>
			<string>speedBubbleEnabled</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.anlai.omnicar</string>
			<key>PostNotification</key>
			<string>com.anlai.omnicar/prefschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>SPEEDBUBBLE_APPEARANCE</string>
			<key>footerText</key>
			<string>SPEEDBUBBLE_APPEARANCE_FOOTER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>label</key>
			<string>SPEEDBUBBLE_STYLE</string>
			<key>symbol</key>
			<string>paintpalette.fill</string>
			<key>symbolColor</key>
			<string>#8A47E8</string>
			<key>key</key>
			<string>speedBubbleStyle</string>
			<key>default</key>
			<integer>0</integer>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
				<integer>9</integer>
				<integer>10</integer>
				<integer>11</integer>
				<integer>12</integer>
				<integer>13</integer>
				<integer>14</integer>
				<integer>15</integer>
				<integer>16</integer>
				<integer>17</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>SPEEDBUBBLE_STYLE_0</string>
				<string>SPEEDBUBBLE_STYLE_1</string>
				<string>SPEEDBUBBLE_STYLE_2</string>
				<string>SPEEDBUBBLE_STYLE_3</string>
				<string>SPEEDBUBBLE_STYLE_4</string>
				<string>SPEEDBUBBLE_STYLE_5</string>
				<string>SPEEDBUBBLE_STYLE_6</string>
				<string>SPEEDBUBBLE_STYLE_7</string>
				<string>SPEEDBUBBLE_STYLE_8</string>
				<string>SPEEDBUBBLE_STYLE_9</string>
				<string>SPEEDBUBBLE_STYLE_10</string>
				<string>SPEEDBUBBLE_STYLE_11</string>
				<string>SPEEDBUBBLE_STYLE_12</string>
				<string>SPEEDBUBBLE_STYLE_13</string>
				<string>SPEEDBUBBLE_STYLE_14</string>
				<string>SPEEDBUBBLE_STYLE_15</string>
				<string>SPEEDBUBBLE_STYLE_16</string>
				<string>SPEEDBUBBLE_STYLE_17</string>
			</array>
			<key>defaults</key>
			<string>com.anlai.omnicar</string>
			<key>PostNotification</key>
			<string>com.anlai.omnicar/prefschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>SPEEDBUBBLE_SHOW_APP_ICON</string>
			<key>symbol</key>
			<string>app.badge.fill</string>
			<key>symbolColor</key>
			<string>#F97A1F</string>
			<key>key</key>
			<string>speedBubbleShowAppIcon</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.anlai.omnicar</string>
			<key>PostNotification</key>
			<string>com.anlai.omnicar/prefschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>SPEEDBUBBLE_PREVIEW</string>
			<key>symbol</key>
			<string>play.rectangle.fill</string>
			<key>symbolColor</key>
			<string>#0A59F7</string>
			<key>action</key>
			<string>bubbleDemo</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>SPEEDBUBBLE_SIZE_PHONE</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>key</key>
			<string>speedBubbleSizePhone</string>
			<key>default</key>
			<integer>100</integer>
			<key>min</key>
			<integer>60</integer>
			<key>max</key>
			<integer>220</integer>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<true/>
			<key>segmentCount</key>
			<integer>16</integer>
			<key>defaults</key>
			<string>com.anlai.omnicar</string>
			<key>PostNotification</key>
			<string>com.anlai.omnicar/prefschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>SPEEDBUBBLE_SIZE_CAR</string>
			<key>footerText</key>
			<string>SPEEDBUBBLE_SIZE_FOOTER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>key</key>
			<string>speedBubbleSizeCar</string>
			<key>default</key>
			<integer>100</integer>
			<key>min</key>
			<integer>60</integer>
			<key>max</key>
			<integer>220</integer>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<true/>
			<key>segmentCount</key>
			<integer>16</integer>
			<key>defaults</key>
			<string>com.anlai.omnicar</string>
			<key>PostNotification</key>
			<string>com.anlai.omnicar/prefschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>SPEEDBUBBLE_RESET_FOOTER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>SPEEDBUBBLE_RESET_LAYOUT</string>
			<key>symbol</key>
			<string>arrow.counterclockwise</string>
			<key>symbolColor</key>
			<string>#E84026</string>
			<key>action</key>
			<string>resetLayout</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>SPEEDBUBBLE_SOURCES</string>
			<key>footerText</key>
			<string>SPEEDBUBBLE_SOURCES_FOOTER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>SPEEDBUBBLE_APP_VIETMAP</string>
			<key>symbol</key>
			<string>map.fill</string>
			<key>symbolColor</key>
			<string>#36B37E</string>
			<key>key</key>
			<string>speedBubbleAppVietmap</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.anlai.omnicar</string>
			<key>PostNotification</key>
			<string>com.anlai.omnicar/prefschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>SPEEDBUBBLE_APP_GOFA</string>
			<key>symbol</key>
			<string>location.fill</string>
			<key>symbolColor</key>
			<string>#1E9BF0</string>
			<key>key</key>
			<string>speedBubbleAppGOFA</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.anlai.omnicar</string>
			<key>PostNotification</key>
			<string>com.anlai.omnicar/prefschanged</string>
		</dict>
	</array>
</dict>
</plist>
