<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- Startup Screen page. Labels and footers are keys into <lang>.lproj/StartupScreen.strings;
     "symbol"/"symbolColor" draw the row icon. Keys are the SS_KEY_* of ../../StartupScreen.h. -->
<plist version="1.0">
<dict>
	<key>title</key>
	<string>Startup Screen</string>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>STARTUPSCREEN_FOOTER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>STARTUPSCREEN_ENABLE</string>
			<key>symbol</key>
			<string>power</string>
			<key>symbolColor</key>
			<string>#0A59F7</string>
			<key>key</key>
			<string>startupScreenEnabled</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.anlai.omnicar</string>
			<key>PostNotification</key>
			<string>com.anlai.omnicar/prefschanged</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>STARTUPSCREEN_VIDEO_GROUP</string>
			<key>footerText</key>
			<string>STARTUPSCREEN_VIDEO_FOOTER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>id</key>
			<string>videoName</string>
			<key>dynamicTitles</key>
			<true/>
			<key>label</key>
			<string>STARTUPSCREEN_CURRENT_VIDEO</string>
			<key>symbol</key>
			<string>film</string>
			<key>symbolColor</key>
			<string>#7B5CF5</string>
			<key>key</key>
			<string>startupScreenVideoName</string>
			<key>defaults</key>
			<string>com.anlai.omnicar</string>
			<key>PostNotification</key>
			<string>com.anlai.omnicar/prefschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>STARTUPSCREEN_IMPORT_PHOTOS</string>
			<key>symbol</key>
			<string>photo.on.rectangle</string>
			<key>symbolColor</key>
			<string>#F97A1F</string>
			<key>action</key>
			<string>importFromPhotos</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>STARTUPSCREEN_IMPORT_FILES</string>
			<key>symbol</key>
			<string>folder.fill</string>
			<key>symbolColor</key>
			<string>#1E9BF0</string>
			<key>action</key>
			<string>importFromFiles</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>STARTUPSCREEN_PREVIEW</string>
			<key>symbol</key>
			<string>play.rectangle.fill</string>
			<key>symbolColor</key>
			<string>#0A59F7</string>
			<key>action</key>
			<string>previewVideo</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>STARTUPSCREEN_DELETE</string>
			<key>symbol</key>
			<string>trash.fill</string>
			<key>symbolColor</key>
			<string>#E84026</string>
			<key>action</key>
			<string>deleteVideo</string>
			<key>isDestructive</key>
			<true/>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>STARTUPSCREEN_DURATION_GROUP</string>
			<key>footerText</key>
			<string>STARTUPSCREEN_DURATION_FOOTER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>key</key>
			<string>startupScreenDuration</string>
			<key>default</key>
			<real>5</real>
			<key>min</key>
			<real>1</real>
			<key>max</key>
			<real>30</real>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<true/>
			<key>segmentCount</key>
			<integer>29</integer>
			<key>defaults</key>
			<string>com.anlai.omnicar</string>
			<key>PostNotification</key>
			<string>com.anlai.omnicar/prefschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>STARTUPSCREEN_PLAY_FULL</string>
			<key>symbol</key>
			<string>repeat</string>
			<key>symbolColor</key>
			<string>#00A6B2</string>
			<key>key</key>
			<string>startupScreenPlayFull</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.anlai.omnicar</string>
			<key>PostNotification</key>
			<string>com.anlai.omnicar/prefschanged</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>STARTUPSCREEN_DISPLAY_GROUP</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>key</key>
			<string>startupScreenScaleMode</string>
			<key>default</key>
			<integer>0</integer>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>STARTUPSCREEN_SCALE_FILL</string>
				<string>STARTUPSCREEN_SCALE_FIT</string>
			</array>
			<key>defaults</key>
			<string>com.anlai.omnicar</string>
			<key>PostNotification</key>
			<string>com.anlai.omnicar/prefschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>STARTUPSCREEN_SOUND</string>
			<key>symbol</key>
			<string>speaker.wave.2.fill</string>
			<key>symbolColor</key>
			<string>#E8457C</string>
			<key>key</key>
			<string>startupScreenSound</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.anlai.omnicar</string>
			<key>PostNotification</key>
			<string>com.anlai.omnicar/prefschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>STARTUPSCREEN_TAP_TO_SKIP</string>
			<key>symbol</key>
			<string>hand.tap.fill</string>
			<key>symbolColor</key>
			<string>#FF9500</string>
			<key>key</key>
			<string>startupScreenTapToSkip</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.anlai.omnicar</string>
			<key>PostNotification</key>
			<string>com.anlai.omnicar/prefschanged</string>
		</dict>
	</array>
</dict>
</plist>
